designs/services/weatherservice.json
[
    {
        "id": "sd_CQg5igmATVl21xX4",
        "type": "tab",
        "createdDate": "2020-09-30T12:00:32.876Z",
        "label": "weatherservice",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "weatherservice"
    },
    {
        "id": "sd_U1a2ods2GroaBkXm",
        "type": "Start",
        "z": "sd_CQg5igmATVl21xX4",
        "viewType": "common",
        "nodeType": "start",
        "name": "get weather",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "cityName",
                "defaultValue": {
                    "type": "str",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "currentWeather",
                "defaultValue": {
                    "type": "str",
                    "value": ""
                },
                "output": true
            },
            {
                "key": "ssdWeatherApiUrl",
                "defaultValue": {
                    "type": "str",
                    "value": ""
                },
                "output": false
            }
        ],
        "accept_bh": false,
        "functionName": "getWeather",
        "category": "General",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "sd_SI1pYNPEsiNQIyfz"
            ]
        ],
        "generateNext": true,
        "serviceName": "weatherservice"
    },
    {
        "id": "sd_SI1pYNPEsiNQIyfz",
        "type": "Switch",
        "z": "sd_CQg5igmATVl21xX4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "cityNameNullCheck",
        "property": "cityName",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.cityName",
        "rules": [
            {
                "t": "istype",
                "v": "\"undefined\"",
                "vt": "\"undefined\"",
                "gv": "\"undefined\""
            },
            {
                "t": "null"
            },
            {
                "t": "empty"
            },
            {
                "t": "istype",
                "v": "\"string\"",
                "vt": "\"string\"",
                "gv": "\"string\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "functionName": "cityNameNullCheck",
        "category": "Function",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "sd_9tZ9b9yJ2OItgaQh"
            ],
            [
                "sd_9tZ9b9yJ2OItgaQh"
            ],
            [
                "sd_9tZ9b9yJ2OItgaQh"
            ],
            [
                "sd_uRLHAzvim6Q7IFca"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9tZ9b9yJ2OItgaQh",
        "type": "SnackBar",
        "z": "sd_CQg5igmATVl21xX4",
        "viewType": "client",
        "nodeType": "flow",
        "name": "snackbar",
        "message": {
            "type": "str",
            "value": "Invalid city name"
        },
        "action": {
            "type": "str",
            "value": "okay"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "snackbar",
        "category": "General",
        "x": 465,
        "y": 40,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_uRLHAzvim6Q7IFca",
        "type": "Script",
        "z": "sd_CQg5igmATVl21xX4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "construct api url",
        "script": "bh.local.ssdWeatherApiUrl = `{{CODE_HLITED}}amp;lt;/span>{bh.system.environment.properties.ssdURL}weather`;\nbh.local.qparams = { \ncityName: bh.input.cityName\n}",
        "functionName": "constructApiUrl",
        "category": "Function",
        "x": 465,
        "y": 140,
        "wires": [
            [
                "sd_8Fhx7j592X3aOS4u",
                "sd_AYew7ZkzfIaqORzc"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8Fhx7j592X3aOS4u",
        "type": "HttpRequest",
        "z": "sd_CQg5igmATVl21xX4",
        "viewType": "client",
        "nodeType": "flow",
        "name": "call server flow",
        "method": "get",
        "methodMappingObj": {},
        "urlValue": "ssdWeatherApiUrl ",
        "urlMappingObj": {},
        "ret": "json",
        "retMappingObj": {},
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.currentWeather ",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "currentWeather "
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {
            "bh.local": "qparams "
        },
        "paramsObj": [
            {
                "key": "bh.local",
                "defaultValue": "qparams "
            }
        ],
        "paramMappingObj": {},
        "functionName": "callServerFlow",
        "category": "HTTP",
        "x": 625,
        "y": 80,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_AYew7ZkzfIaqORzc",
        "type": "Log",
        "z": "sd_CQg5igmATVl21xX4",
        "viewType": "client",
        "nodeType": "flow",
        "name": "log ssdWeatherApiUrl ",
        "outputs": 0,
        "logObject": "bh.local.ssdWeatherApiUrl ",
        "functionName": "logSsdWeatherApiUrl",
        "category": "General",
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.local",
                "value": "ssdWeatherApiUrl ",
                "constant": false
            }
        },
        "x": 625,
        "y": 200,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5p7g8GXFoRHQHkAY",
        "type": "SnackBar",
        "z": "sd_CQg5igmATVl21xX4",
        "viewType": "client",
        "nodeType": "flow",
        "name": "Error snackbar",
        "message": {
            "type": "str",
            "value": "Something went wrong!"
        },
        "action": {
            "type": "str",
            "value": "okay"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "errorSnackbar",
        "category": "General",
        "x": 365,
        "y": 300,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wgai2WOktI536W83",
        "type": "Catch",
        "z": "sd_CQg5igmATVl21xX4",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_U1a2ods2GroaBkXm",
            "sd_SI1pYNPEsiNQIyfz",
            "sd_9tZ9b9yJ2OItgaQh",
            "sd_uRLHAzvim6Q7IFca",
            "sd_8Fhx7j592X3aOS4u",
            "sd_AYew7ZkzfIaqORzc"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_wgai2WOktI536W83",
        "category": "General",
        "x": 145,
        "y": 300,
        "wires": [
            [
                "sd_5p7g8GXFoRHQHkAY"
            ]
        ],
        "generateNext": true,
        "serviceName": "weatherservice"
    }
]
